#section1{
background-color: rgb(181, 177, 226);
}

#section2{
background-color: rgb(217, 177, 226);
}

#section3{
background-color: rgb(190, 226, 177);
}

#section4{
    background-color: rgb(177, 219, 226);
}

.section{
    text-align: center;
    color: white;
}