#section1{
background-color: rgb(181, 177, 226);
}

#section2{
background-color: rgb(217, 177, 226);
}

#section3{
background-color: rgb(190, 226, 177);
}

#section4{
    background-color: rgb(177, 219, 226);
}

.section{
    text-align: center;
    color: rgb(64, 64, 64);
    margin-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
        
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    width:100%;
}
        
li {
    float: left;
}
        
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
        
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:grey;
    color:silver;
}